<% include ./partials/header %>

<% include ./partials/navbar %>

<div class="container">
	<h1>Welcome!</h1>
	<p class="lead">Check out more campgrounds <a href="/campgrounds">here</a>.</p>
</div>

<% include ./partials/footer %>
